<%- include("partials/header") -%>

<h1>About</h1>
<p>Hi! I am Savar Jain, currently a high school rising senior (at the time of making this web app). I am currently
    learning full stack development!</p>

<%- include("partials/footer") -%>