<%- include("partials/header") -%>

<h1>Contact</h1>
<p>
    Contact me!
    <a href="mailto:jainsavar@gmail.com">Email</a> ||
    <a href="http://https://github.com/SavarJ">Github</a>
</p>

<%- include("partials/footer") -%>