/* Header */
.container {
  padding: 20px;
}

.my-navbar {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}
.nav-link:hover {
  color: hsl(30, 100%, 50%) !important;
}

main {
  padding-top: 5px;
  margin-bottom: 75px;
}

/* Footer  */

footer {
  text-align: center;
  width: 100%;
  background-color: hsl(30, 100%, 50%);
  padding: 25px;
  position: fixed;
  bottom: 0;
}

footer > p {
  margin: 0;
  font-size: 14px;
  color: #fff;
  letter-spacing: 2px;
}
#my-link {
  text-decoration: none;
  color: inherit;
}
#my-link:hover {
  color: hsl(30, 100%, 40%);
  font-weight: bold;
}

/* Compose */
section.compose > form > div.title {
  margin: 2% auto;
}
section.compose > form > div.message {
  margin: 1% auto;
}

section.compose > form > button.publishButton {
  margin-top: 25px;
}
